* {
    font-family: "JetBrainsMonoNerdFont", monospace;
    font-size: 12px;
    border-radius: 10px;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.95); 
    color: #ebdbb2; 
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    /* Gruvbox gray */
    color: #a89984; 
}

#workspaces button:hover {
    background: rgba(251, 241, 199, 0.1); 
    color: #ebdbb2;
}

#workspaces button.active {
    color: #fabd2f; 
    font-weight: bold;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#tray,
#window {
    padding: 0 12px;
    margin: 4px 4px;
    background-color: rgba(251, 241, 199, 0.05); 
}

#window {
    border-radius: 6px;
    color: #b8bb26; 
}

#pulseaudio.muted {
    background-color: #cc241d; 
    color: #ebdbb2;
}
